
    
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mybooks/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/isotope.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/jquery.fancybox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/loginandsignup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/da-slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/owl.carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mybooks/font-awesome.min.css' %}" />

 <script src="{% static 'mybooks/js/modernizr-latest.js' %}"></script>
    <script src="{% static 'mybooks/js/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'mybooks/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mybooks/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'mybooks/js/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'mybooks/js/jquery.nav.js' %}"></script>
    <script src="{% static 'mybooks/js/jquery.cslider.js' %}"></script>
    <script src="{% static 'mybooks/js/custom.js' %}"></script>
    <script src="{% static 'mybooks/js/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'mybooks/js/loginandsignup.js' %}"></script>

{% block content %}

    <header class="header">

        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b>PlentyReads</b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li class="active"><a href="#home" class="scroll-link">Home</a></li>
                     
                       
                        <li><a href="#books" class="scroll-link">Books</a></li>
                        <li><a href="#loginandsignup" class="scroll-link">Login/SignUp</a></li>

                        <li><a href="#contactUs" class="scroll-link">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <img src="{% static 'mybooks/images/books.jpg' %}" alt="banner" />

            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div  class="da-slide">
                        <h2>The Girl On The Train</h2>
                        <p>Paula Hawkins</p>
                        <div class="da-img">
                              <img src="{% static 'mybooks/images/girlontrain.jpg' %}" alt="banner" />
                           <!--  <img src="images/girlontrain.jpg" alt="banner" /> -->
                        </div>
                    </div>
                    <div class="da-slide">
                        <h2>Famous Faces</h2>
                        <p>teNeues.</p>
                        <div class="da-img">
                            <img src="{% static 'mybooks/images/FamousFaces.jpg' %}" alt="banner" />
                        </div>
                    </div>
                    <div class="da-slide">
                        <h2>The lord of the rings</h2>
                        <p>J.R.R Tolkien</p>
                       <div class="da-img">
                          <img src="{% static 'mybooks/images/lotr.jpg' %}" alt="banner" />
                        </div>
                    </div>
                    <div class="da-slide">
                        <h2>Angels and Demons</h2>
                        <p>Dan Brown</p>
                        <div class="da-img">
                            <img src="{% static 'mybooks/images/angelsDemons.jpg' %}" alt="banner" />
                        </div>
                    </div>
                    <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                </div>
            </div>
        </div>
    </section>
 
    <section id="books" class="page-section section appear clearfix">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Books</h2>
                <p>A room without books is like a body without a soul. ― Marcus Tullius Cicero</p>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".historicalFiction">Historical Fiction</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".memoirAuto">Memoir & Autobiography</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".historyBio">History & Biography</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".romance">Romance</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">
                            <article class="col-sm-4 isotopeItem historyBio">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historyBio/24886732.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <img src="{% static 'mybooks/images/historyBio/24886732.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem historyBio">
                                <div class="portfolio-item">
                                     <img src="{% static 'mybooks/images/historyBio/25363342.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historyBio/25363342.jpg' %}" class="fancybox">
                                               
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                             <article class="col-sm-4 isotopeItem historyBio">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historyBio/25494504.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historyBio/25494504.jpg' %}" class="fancybox">
                                               
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>                           
                            <article class="col-sm-4 isotopeItem memoirAuto">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/Memoir & Autobiography/25111132.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/Memoir & Autobiography/25111132.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem memoirAuto">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/Memoir & Autobiography/25387589.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/Memoir & Autobiography/25387589.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem memoirAuto">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/Memoir & Autobiography/25622135.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/Memoir & Autobiography/25622135.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem historicalFiction">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historicalFiction/24611571.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historicalFiction/24611571.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem historicalFiction">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historicalFiction/24819449.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historicalFiction/24819449.jpg' %}" class="fancybox">
                                               
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem historicalFiction">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historicalFiction/25203346.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historicalFiction/25203346.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem historicalFiction">
                                <div class="portfolio-item">
                                     <img src="{% static 'mybooks/images/historicalFiction/25422234.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historicalFiction/25422234.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem historicalFiction">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/historicalFiction/25816988.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/historicalFiction/25816988.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem romance">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/romance/24431358.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/romance/24431358.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem romance">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/romance/25135611.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'images/romance/25135611.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem romance">
                                <div class="portfolio-item">
                                    <img src="{% static 'mybooks/images/romance/18336982.jpg' %}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{% static 'mybooks/images/romance/18336982.jpg' %}" class="fancybox">
                                                
                                                <i class="fa fa-link fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>
    <section id="loginandsignup" class="page-section section appear clearfix">
        <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <a href="#" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                  <!-- <a href="#" id="register-form-link">Register</a> -->
                    <a href="/register" class="active">Register</a>
                      <!-- <table border="0"> -->
                </div>
              </div>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">

                  {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}
                  <form name="login" id="login-form" action="." method="post" role="form" style="display: block;">{% csrf_token %}
                      
                      <div class="form-group">
                      <!--   <input type="text" name="username" id="username" tabindex="1" class="form-control input-md" placeholder="Username" value="" required> -->
                        {{ form.username }}
                      </div>
                                            
                      <div class="form-group">
                        <!-- <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" value="" required> -->
                       {{ form.password }} 
                      </div>
                      
                      <div class="form-group text-center">
                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                        <label for="remember"> Remember Me </label>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" >
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="text-center">
                              <!-- <a href="http://" tabindex="5" class="forgot-password">Forgot Password?</a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="next" value="/home" />
                    </form>
                     <!-- <a href="/register">Register</a>
                  <table border="0"> -->
        

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 


    <section id="contactUs" class="contact-parlex">
        <div class="parlex-back">
            <div class="container">

                <div class="row">
                    <div class="heading text-center">
                        <!-- Heading -->
                        <h2>Contact Us</h2>
                        <p></p>
                    </div>
                </div>

                <div class="row mrgn30">

                    <form method="post" action="" id="contactfrm" role="form">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="comments">Comments</label>
                                <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                            </div>
                            <button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">Submit</button>
                            <div class="result"></div>
                        </div>
                    </form>
                    <div class="col-sm-4">
                        <h4>Address:</h4>
                        <address>
                            Plenty Reads<br>
                                <br>
                           IIIT Hyderabad
                        <br>
                        </address>
                        <h4>Phone:</h4>
                        <address>
                            12345-49589-2<br>
                        </address>
                    </div>
                </div>
            </div>
            <!--/.container-->
        </div>
    </section>

    <!--/.page-section-->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    Copyright 2015 | All Rights Reserved @PlentyReads       
                </div>
            </div>
            <!-- / .row -->
        </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
    <!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
   



{% endblock %}




   
