{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
 Registration Completed Successfully
{% endblock %}
 <!-- {% load staticfiles %}   -->  
{% block content %}
<body bgcolor = "gold">
	<!-- <div class="da-img" >
		<img src="{% static 'mybooks/images/succesful_reg1.jpg' %}" alt="banner" style height = "150" width = "500" />
    </div> -->
    <div style = "font-size : 20pt">
	    Thank you for registering.
    </div>
    <div>
    	
    	<a href="/" style =  "font-size : 50pt">Click here to go to home.</a> 
    </div>
{% endblock %}