<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'mybooks/landing.css' %}" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  	 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  	</head>
	<body>
		<div class="first">
			<div class = "searchAndProfileDiv">
				<div class="searchDiv"><button type="button" class="btn btn-primary btnSearch">Search</button></div>
				<div class="profileDiv">
					<div class="dropdown">
    					<button class="btn btn-primary dropdown-toggle btnDropdown" type="button" data-toggle="dropdown">Profile<span class="caret"></span></button>
   						<ul class="dropdown-menu">
      						<li><a href="#">Manage</a></li>
      						<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="recentlyViewedDiv">
				<button type="button" class="btn btn-info btnRecentlyViewed" data-toggle="collapse" data-target="#demo">Recently Viewed</button>
	    		<div id="demo" class="collapse"> SOME IMAGES</div>
			</div>
			<div class="wishListDiv">
				<button type="button" class="btn btn-info btnWishList" data-toggle="collapse" data-target="#wish">Wish List</button>
	    		<div id="wish" class="collapse"> ddcbsbhdc</div>
			</div>
			<div class="latestArrivalDiv">
				<button type="button" class="btn btn-info btnLatestArrival" data-toggle="collapse" data-target="#latest">Latest Arraival</button>
	    		<div id="latest" class="collapse"> scbdhb</div>
			</div>
		</div>                                     
	</body>
</html>
