.searchDiv{
	float: left;
	width:50%;

}
.profileDiv{
	float: right;
	width:50%;
	
}
.btnWishList{
	width:100%;
}
.btnRecentlyViewed{
	width:100%;
}
.btnLatestArrival{
	width:100%;
}
.wishListDiv
{
	padding-top: 2%;
}
.latestArrivalDiv
{
	padding-top: 2%;
}
.recentlyViewedDiv
{
	padding-top: 2%;
}
.btnSearch
{
	width: 40%;

}
.dropdown
{
	float:right;
}